/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* GLOBAL STUFF (overwriting materialize defaults) */



body {
	color: #333;
}

a {
	color: #555;
}

nav ul a,
nav .brand-logo {
	color: #333;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.collection .collection-item.avatar {
	min-height: 60px;
}

.comfortaa-300 {
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
}
.comfortaa-400 {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
}
.comfortaa-700 {
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

h1 {
	text-transform: uppercase;
}

.ctg-floating-bar {
	position: fixed;
	bottom: 3em;
	right: 3em;
}

.ctg-floating-bar {
	display: inline-block;
    height: 60px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 60px;
    padding: 0 30px;
    border-radius: 30px;
    background-color: #4db6ac;
    margin-bottom: 5px;
    margin-right: 5px;
    z-index: 50000;
}

.ctg-floating-bar a {
	color: #fff;
}

.ctg-floating-bar i{
	vertical-align: middle;
	margin-left: 10px;
}

.ctg-floating-bar img{
	float: left;
    margin: 0 8px 0 -12px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.ctg-card-logo {
	width: 3em;
	height: 3em;
}

.ctg-brand-image {
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    display: block;
	max-width: 200px;
	max-height: 200px;
}

.ctg-hero-image {
	max-width: 200%;
    position: absolute;
}

.ctg-details-card {
	margin-top: 5%;
}

.ctg-details-card-taglist {
	margin-top: 1em;
}

span.badge.ctg-card-badge {
	position: absolute;
	top: 1em;
	right: 1em;
	color: #fff;
	border-radius: 3px;
}

.ctg-progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
}

// https://codepen.io/Tushkiz/pen/lntvd?limit=all&page=3&q=progress
#skills span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
    color: #fff;
}

progress {
    background-color: #f5f5f5;
    border: 0;
    height: 2.5em;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #f5f5f5;
}

progress::-webkit-progress-value {
    background-color: #329ad1;
}

progress::-moz-progress-bar {
    background-color: #329ad1;
}

progress.ctg-progress-green::-webkit-progress-value {background-color: #81c784;}
progress.ctg-progress-yellow::-webkit-progress-value {background-color: #ffd54f ;}
progress.ctg-progress-red::-webkit-progress-value {background-color: #e57373;}

progress.ctg-progress-green-90::-webkit-progress-value {background-color: #4db6ac;}
progress.ctg-progress-green-70::-webkit-progress-value {background-color: #80cbc4;}
progress.ctg-progress-green-50::-webkit-progress-value {background-color: #b2dfdb;}


/* LANDING PAGE STUFF */



.ctg-use-case {
	margin-bottom: 6em;
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    border-top: 1px solid #ccc;
}

.ctg-use-case h4 {
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 800px;
    margin: 50px;
}

.ctg-use-case img {
	max-width: 100%;
	width: 200px;
	height: 200px;
}

.ctg-use-case .ctg-use-case-teaser {
	text-align: justify;
}

.ctg-use-case .ctg-use-case-show-full-article.open {
}


.ctg-article-content {
	display: none;	
}

.ctg-image-container {
	position: relative;
}

.ctg-article-like {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #b2dfdb;
    display: none;
    position: absolute;
    top: 70px;
    left: -25px;
}

.ctg-article-like i {
	line-height: 60px;
    margin: 0 11px;
    font-size: 2.5em;
    color: #fff;
}

/* LOGIN PAGE STUFF */

#login-page {
	background-image: url(../images/fk_portal.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#start-app {
	margin-top: 250px;
	width: 100px;
	height: 100px;
}

#start-app i {
	line-height: 100px;
	font-size: 3.6rem;
}

/* REGISTER PAGE STUFF */

/* MATCHES OVERVIEW STUFF */

/* PROFILE CARD STUFF */

.ctg-charts-container span {
	font-size: large;
}

.ctg-charts-container span i{
	vertical-align: text-bottom;
	font-size: 1.2em;
}

.ctg-like {}
.ctg-dislike {}
.ctg-contact {
	float: right;
}

.ctg-buttons-container {
	display: flex;
	justify-content: center;
}

.ctg-buttons-container a {
	margin-right: 2em;
}

.ctg-match-like {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #b2dfdb;
    display: none;
    position: absolute;
 	top: -30px;
    left: 46%;
}

.ctg-match-like i {
	line-height: 60px;
    margin: 0 11px;
    font-size: 2.5em;
    color: #fff;
}

.ctg-contact-modal,
.modal-footer {
	display: flex;
	flex-direction: column;
    align-items: center;

}

/* LANDING PAGE STUFF */
